---
import Layout from '../layouts/Layout.astro';
import ProjectHeader from '../components/ProjectHeader.astro';
import ProjectCopy from '../components/ProjectCopy.astro';
import Button from '../components/elements/Button.astro';
// import ecs from '../../data/projects/01_ecs.md'
const ecs = await Astro.glob('../../data/projects/06_my_cfp.md');

---

<Layout title="Jon Riley - Software Engineer">
<ProjectHeader>
    <img class="max-w-3xl" src="../assets/projects/mycfp.png" style="width: 100%" alt="">
</ProjectHeader>
<div class="md:flex max-w-7xl mx-auto justify-center">
    <p class="text-center">Production App, private repo</p>
</div>
<ProjectCopy title={ecs[0].frontmatter.title} description={ecs[0].frontmatter.description} bullets={ecs[0].frontmatter.bullets} icons={ecs[0].frontmatter.icons} />
</Layout>
