---
---

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <p
          id="about-section" class="scroll-mt-20 mt-2 font-montserrat font-bold text-4xl text-highvis "
          >
            ABOUT
          </p>
          <p class="mt-6 leading-8 text-gray-600 text-2xl">
            Hi, I'm Jon Riley! A <span class="font-bold text-black">Senior Software Engineer</span> with a background in Site Reliability and full-stack development. Lately I’ve been designing microservices that process and transform data in a Kubernetes environment, while exposing it through GraphQL APIs and React applications. I also focus on observability, automation, and developer tooling to improve both system reliability and team productivity. Outside of work, I enjoy long-distance hiking—where debugging means swatting mosquitoes.
          </p>
        </div>
      </div>
      <div class="lg:pr-8 lg:pt-4 mx-auto">
        <div class="lg:max-w-lg">
          <div style="width: 300px;">
            <div style="position: relative; height: 300px;">
              <div id="about-animation"></div>
              <div id="about-animation-bg"></div>
              <div>
                <img id="about-photo" src="../assets/about-jon-riley2.png" alt="Jon Riley Hiking" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @keyframes pulse {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
}
  #about-photo {
  /* margin-top: 2.5rem; */
  width: 300px;
  height: 300px;

  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
}
#about-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border: 1px dashed;
  border-radius: 50%;
  animation: pulse 4s ease-in-out infinite;
}
#about-animation-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255 85 21 / 10%);
  width: 300px;
  height: 300px;
  border: 2px solid #ff5515;
  border-radius: 50%;
  animation: pulse 4s ease-in-out infinite;
  animation-delay: 1s;
}
</style>
