---
interface Props {
	text: string;
    url: string;
}
const { text, url } = Astro.props;
---
<div class="m-2 md:mt-16">
    <a class="duration-100 block md:inline bg-highvis p-4 rounded-2xl text-white font-semibold text-center  hover:outline hover:outline-1 hover:outline-highvis hover:outline-offset-4" href={url}>{text}</a>

</div>