--- 
import Navbar from '../components/Navbar.astro';
import Contact from '../components/Contact.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<!-- theme styles -->
		<meta name="theme-color" content="#0F172A" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#0F172A">
		<!-- og meta -->
		<meta name="description" content="A site reliability engineer with a passion for QA automation and monitoring.">
		<meta property="og:url" content="https://jonriley.netlify.app/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Jon Riley – Software Engineer">
		<meta property="og:description" content="Site Reliability | QA Automation | IaC">
		<meta property="og:image" content="https://jonriley.netlify.app/assets/jon_riley_cover.jpg">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="jonriley.netlify.app">
		<meta property="twitter:url" content="https://jonriley.netlify.app/">
		<meta name="twitter:title" content="Jon Riley – Software Engineer">
		<meta name="twitter:description" content="Site Reliability | QA Automation | IaC">
		<meta name="twitter:image" content="https://jonriley.netlify.app/assets/jon_riley_developer.jpg">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>	
			@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap"); /* CSS RESET */
		</style>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Contact />
	</body>
</html>
